__pycache__/
**/__pycache__/
# バイナリファイルを無視
*.env
*.ini
*.service
*.sock
*.exe
*.dll
*.json
*.Identifier
# ログファイルを無視

*.cgi
*.htaccess

*.zip
*.pptx

*.png
*.jpg
*.jpeg


# OSやIDEの一時ファイルを無視
.DS_Store
Thumbs.db
.vscode/




logs/access.log
logs/error.log


# ビルドディレクトリを無視
/build/
__pycache__/